[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
beautifulsoup4 = "*"
selenium = "*"
selenium-requests = "*"
openfigi = "*"

[dev-packages]
autopep8 = "*"
setuptools = "*"
wheel = "*"
twine = "*"
tqdm = "*"

[requires]
python_version = "3.9"

[scripts]
build = "bash -c "rm -rf dist build && python3 setup.py sdist bdist_wheel""
deploy = "twine upload dist/*"